<div class="content">
  <div class="productList">
    <div class="productList_title"><h1>Список рецептов</h1></div>
    <app-recipes-list></app-recipes-list>
  </div>
  <div class="recipe">
    <div class="recipe_title">
      <h1>Выбранный рецепт</h1>
    </div>
    <app-recipe></app-recipe>
  </div>
</div>
