.content {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.productList {
  width: 40%;
}
.recipe {
  width: 50%;
}

.productList_title,
.recipe_title {
  display: flex;
  justify-content: center;
}
