@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.top-nav {
  display: flex;
}

.top-nav__element {
  color: darkgreen;
  font-size: 24px;
  text-decoration: none;
}

.button__block {
  display: flex;
  gap: 5px;
  flex-flow: row;
  justify-content: space-between;
}

.count-button {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  position: relative;
  transition-duration: 0.4s;
}

.count-button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 10px cadetblue;
}

.count-button:active:after {
  box-shadow: 0 0 0 0 cadetblue;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.count-button:active {
  transform: scale(1.1);
}

.count-button_increment {
  background-color: darkgreen;
}

.count-button_decrement {
  background-color: darkred;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
