<mat-card class="recipe_body" *ngIf="recipe.name !== undefined">
  <div class="item_title">
    <mat-card-title>{{ recipe.name }}</mat-card-title>
  </div>
  <div class="item_image">
    <img mat-card-image src="{{ recipe.image }}" alt="" />
  </div>
  <div class="item_description">
    <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
  </div>
  <div class="ingredient_title">Ингредиенты:</div>
  <div class="item_ingredients" *ngFor="let ingredient of recipe.ingredients">
    <div class="ingredient">{{ ingredient.name }}</div>
    <div class="ingredient_button">
      <button mat-mini-fab color="accent" (click)="onAdd(ingredient)">
        <mat-icon>plus_one</mat-icon>
      </button>
    </div>
  </div>
  <div class="item_recipe">
    <mat-card-subtitle>{{ recipe.recipe }}</mat-card-subtitle>
  </div>
  <div class="item_button">
    <button mat-stroked-button color="primary" (click)="onAddAll(recipe)">
      Выбрать все ингредиенты
    </button>
  </div>
</mat-card>
<simple-notifications></simple-notifications>
