.item_title {
  margin-bottom: 50px;
}

mat-card-subtitle {
  font-size: 20px;
  line-height: 2;
}

.ingredient_title {
  font-weight: bold;
  font-size: 25px;
}

.item_ingredients {
  display: flex;
  padding: 40px 20px;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}

.ingredient {
  font-size: 22px;
}

.item_button {
  display: flex;
  justify-content: center;
}
