.article {
    width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    border: 3px solid red;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

.borderedBlue
{
    border: 2px solid blue;
}

.borderedRed
{
    border: 2px solid red;
}

ul li
{
    list-style-type: none;
    padding-left: 1.5em; 
}

ul li:before
{
    list-style-type: none;
    color: red;
    content: "•";
    padding-right: 10px; 
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}