img {
  max-height: 500px;
}

mat-card {
  margin-bottom: 40px;
}

mat-card-title {
  margin-bottom: 30px;
}

mat-card-subtitle {
  font-size: 20px;
  line-height: 2;
}

.card_button {
  display: flex;
  justify-content: center;
}
