<div *ngFor="let recipe of recipes">
  <mat-card>
    <mat-card-title
      >{{ recipe.name }} ({{
        recipe.ingredients.length
      }}
      ингредиента)</mat-card-title
    >
    <img mat-card-image src="{{ recipe.image }}" alt="" />
    <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
    <div class="card_button">
      <button
        mat-raised-button
        (click)="$event.stopPropagation(); onClick(recipe)"
      >
        Выбрать
      </button>
    </div>
  </mat-card>
</div>

<app-not-found-stub
  *ngIf="!recipes.length"
  [text]="'Товары не найдены'"
></app-not-found-stub>
