<div class="header_container">
  <div class="header_mainPage">
    <button mat-raised-button color="primary" routerLink="">Главная</button>
  </div>
  <div class="header_cardPage">
    <button mat-raised-button color="warn" routerLink="/cart">
      Корзина 🛒
    </button>
  </div>
</div>
