.App {
  font-family: sans-serif;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.header {
  padding: 20px;
  text-align: center;
  background: #ff7300;
  color: white;
  font-size: 30px;
}

.form {
  padding: 20px;
  text-align: center;
  background: #ff7300;
  color: white;
  font-size: 30px;
}