<div class="cart_content">
  <div class="cart_title">
    <mat-card-title>Корзина</mat-card-title>
  </div>
  <div class="cart_list">
    <div class="cart_item" *ngFor="let item of cart">
      <mat-card>
        <mat-card-title class="item_title">{{
          item.ingredient.name
        }}</mat-card-title>
        <div class="cart_button">
          <button
            mat-fab
            color="primary"
            (click)="onAddIngredient(item.ingredient)"
          >
            <mat-icon>add</mat-icon>
          </button>
          <div class="cart_count">
            {{ item.count }}
          </div>
          <button
            mat-fab
            color="warn"
            (click)="onDeleteIngredient(item.ingredient)"
          >
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<app-not-found-stub
  *ngIf="!cart.length"
  [text]="'Вы ничего не добавили в корзину!'"
></app-not-found-stub>
