.cart_title {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-size: 30px;
}

.cart_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart_item {
  width: 425px;
  height: 150px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.item_title {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.cart_button {
  display: flex;
  justify-content: space-around;
}

.cart_count {
  display: flex;
  align-items: center;
  font-size: 23px;
}
